/* Grid */
$columns: 12;
$container-base-width: 1340px;
$container-big-width: 1600px;
$container-offset: 20px;

$desktop: 992px;
$tablet:  768px;
$mobile:  576px;

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

$mq: ( $mobile:$columns, $tablet:$columns, $desktop:$columns );

.container {
  max-width: $container-base-width;
  padding-left: $container-offset;
  padding-right: $container-offset;
  margin: 0 auto;
}

.container-big {
  max-width: $container-big-width;
  padding-left: $container-offset;
  padding-right: $container-offset;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: (16px * -1);
  margin-right: (16px * -1);
}

.col {
  padding-left: 16px;
  padding-right: 16px;
}

[class^="col-"] {
  flex: auto;
}


@for $i from 0 through $columns {
  .col-#{$i} {
    width: percentage( $i / $columns );
  }
}

@for $i from 0 through $columns {
  .push-#{$i} {
    margin-left: percentage( $i / $columns );
  }
}

@for $i from 0 through $columns {
  .pull-#{$i} {
    margin-right: percentage( $i / $columns );
  }
}


@each $key, $val in $mq {

  // DESKTOP
  @media(max-width: $desktop) {

    @for $i from 0 through $columns {
      .col-d-#{$i} {
        width: percentage( $i / $columns );
      }
    }

    @for $i from 0 through $columns {
      .push-d-#{$i} {
        margin-left: percentage( $i / $columns );
      }
    }

    @for $i from 0 through $columns {
      .pull-d-#{$i} {
        margin-right: percentage( $i / $columns );
      }
    }
  }


  // TABLET
  @media(max-width: $tablet) {

    @for $i from 0 through $columns {
      .col-t-#{$i} {
        width: percentage( $i / $columns );
      }
    }

    @for $i from 0 through $columns {
      .push-t-#{$i} {
        margin-left: percentage( $i / $columns );
      }
    }

    @for $i from 0 through $columns {
      .pull-t-#{$i} {
        margin-right: percentage( $i / $columns );
      }
    }
  }

  // MOBILE
  @media(max-width: $mobile) {

    @for $i from 0 through $columns {
      .col-m-#{$i} {
        width: percentage( $i / $columns );
      }
    }  

    @for $i from 0 through $columns {
      .push-m-#{$i} {
        margin-left: percentage( $i / $columns );
      }
    }

    @for $i from 0 through $columns {
      .pull-m-#{$i} {
        margin-right: percentage( $i / $columns );
      }
    }
  }

}
